.footer {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
}

.icon-and-contact {
    padding-left: 100px;
    position: relative;
    text-align: left;
    font-size: large;
    margin: auto;
}

.footer .logo-image {
    padding-left: 47px;
}

.footer_para_c1_line {
    margin: 20px;
    position: relative;
    padding: 20px;
}

.footer_para_c1_line::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
}

.footer_p {
    padding-left: 55px;
    width: 200%;
}

.contact-and-impressum-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
    padding-right: 100px; 
}

.contact-and-impressum {
    margin-top: auto;
    list-style: none; 
    display: flex;
    flex-direction: column; 
    padding: 50px; 
}

.contact_button {
    text-align: left;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}

.footer_para_c1_line_contact_impressum {
    position: relative;
}

.footer_para_c1_line_contact_impressum::after {
    text-align: left;
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
}

.impressum_button {
    text-align: left;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}

.footer_p {
    color: white;
}
@media (max-width: 499px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        height: 500px;
    }

    .footer .logo-image {
        margin-top: 0;
        width: 50%;
        padding-left: 25%;
        padding-top: 10%;
        height: auto;
    }
    
    .icon-and-contact {
        position: relative;
        padding-left: 0;
        width: 100%;
    }

    .footer_p {
        text-align: center;
        padding-left: 0;
    }

    .footer_para_c1_line {
        margin-top: 0;
        padding-top: 0;
        padding-left: 0%;
    }

    .contact-and-impressum-container {
        justify-content: center;
        padding-top: 0;
    }

    .contact_button {
        text-align: center;
        font-size: 1rem;
    }

    .impressum_button {
        text-align: center;
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        height: 600px;
    }

    .footer .logo-image {
        margin-top: 0;
        width: 50%;
        padding-left: 25%;
        padding-top: 5%;
        height: auto;
    }
    
    .icon-and-contact {
        position: relative;
        padding-left: 0;
        width: 100%;
    }

    .footer_p {
        text-align: center;
        padding-left: 0;
    }

    .footer_para_c1_line {
        margin-top: 0;
        padding-top: 0;
        padding-left: 0%;
    }

    .contact-and-impressum-container {
        justify-content: center;
        padding-top: 0;
    }

    .contact_button {
        text-align: center;
        font-size: 1rem;
    }

    .impressum_button {
        text-align: center;
        font-size: 1rem;
    }
}