.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
}

.icon-and-contact {
    padding-left: 10%;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    font-size: large;
    margin: 0;
}

.icon-and-contact-container:not(.footer_para_c1_line) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}


.logo-image-footer {
    height: 50%;
    width: auto;
    padding-top: 0;
}

.footer_para_c1_line {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

.footer_para_c1_line::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 50%;
    background-color: white;
}

.footer_p {
    width: 100%;
    margin: 10px;
}

.footer_p a{
    color: inherit; 
    text-decoration: none;
}

.socials-and-impressum-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 50%; 
    padding-right: 5%;
    padding-top: 2.5%;
}

.socials-and-impressum {
    display: flex;
    flex-direction: column; 
    justify-items: center;
    list-style: none; 
    margin: 0;
}

.facebook_button {
    width: 60px;
    height: 60px;
    text-align: left;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    padding-top: 5px;
    padding-bottom: 7px;
}

.facebook_button img {
    width: auto;
    height: 100%;
    
}

.facebook_button:hover {
    cursor: pointer;
}

.footer_para_c1_line_contact_impressum {
    position: relative;
}

.footer_para_c1_line_contact_impressum::after {
    text-align: left;
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
}

.impressum_button, .kontakt_button {
    text-align: left;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}

.impressum_button:hover, .kontakt_button:hover {
    cursor: pointer;
}

.footer_p {
    color: white;
}


@media (max-width: 480px) {
    .footer_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 450px;
    }

    .icon-and-contact-container:not(.footer_para_c1_line) {
        height: 50%;
        width: 100%;
       
    }
    
    .icon-and-contact, .footer_p, .footer_para_c1_line, .socials-and-impressum-container {
        width: 100%; 
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0; 
        padding-bottom: 2%;
        margin: 0; 
    }

    .impressum_button, .kontakt_button {
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0; 
        padding-bottom: 2%;
        margin: 0;
    }

    .socials-and-impressum {
        height: 100%;
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    .footer .logo-image-footer {
        height: 80%;
    }

    .socials-and-impressum-container button {
        font-size: 1.5rem;
        font-weight: 300;;
    }
    
    .facebook_button {
        height: 30%;
        padding: 0;
        margin-top: 7%;
        margin-bottom: 3%;
    }

    .footer_para_c1_line_contact_impressum {
        display: none;
    }
    
    .footer_para_c1_line {
        display: none;
    }

    .footer_p {
        color: white;
        padding-bottom: 5px;
    }

    .socials-and-impressum-container {
        display: flex;
        align-items: center;
        flex-direction: column; 
        padding-right: 0;
        height: 50%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer_container {
        display: flex;
        flex-direction: row;
        height: 300px;
    }
    
    .icon-and-contact {
        height: 100%;
        width: 100%;
    }
    
    .icon-and-contact-container {
        width: 50%;
    }
    .icon-and-contact:not(.footer_para_c1_line) {
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-left: 10%; 
        padding-top: 10%; 
        margin: 0; 
    }

    .footer_para_c1_line {
        display: none;
    }

    .footer_para_c1_line_contact_impressum {
        display: none;
    }

    .facebook_button {
        display: flex;
        width: auto;
        height: 50%;
        padding: 0;
        align-items: flex-end;
        padding-right: 0%;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .socials-and-impressum {
        margin: 0;
        padding-left: 0;
        padding-top: 0;
        display: flex;
        height: 100%;
        width: 50%;
    }

    .footer .logo-image-footer {
        display: flex;
        align-items: flex-start;
        height: 50%;
        width: auto;
        text-align: center; 
        padding: 0; 
        margin: 0; 
    }

    .socials-and-impressum-container button {
        font-size: 1.5rem;
        font-weight: 300;;
    }
    

    .footer_p {
        color: white;
        padding: 0; 
        margin: 0;
        font-size: 1.5rem;
    font-weight: 300;
    }

    .socials-and-impressum-container {
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column; 
        width: 50%;
        padding-right: 5%;
        padding-top: 5%;
    }

    .kontakt_button {
        padding: 0;
    }

    .impressum_button{
        padding: 0;
    }
}

@media (max-width: 769px) and (max-width: 1186px) {

}