.headerPic {
    width: 100%;
}

.image_container_header_pic {
    position: relative;
    display: block;
    width: 100%;
}

.image_container_header_pic {
    overflow: hidden;
    position: relative;
    height: 800px; 
}

.headerPic {
    position: relative;
    width: 100%;
    bottom: 100px;
    left: 0;
    z-index: -1; 
    pointer-events: none; 
}