.image_container_header_pic {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 900px; 
}

.headerPic {
    position: relative;
    width: 100%;
    bottom: 230px; 
    left: 0;
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 1024px) { 
    .image_container_header_pic {
        height: 700px;
    }
    .headerPic {
        bottom: 230px; 
    }
}

@media (max-width: 768px) {
    .image_container_header_pic {
        height: 400px;
    }
    .headerPic {
        bottom: 230px; 
    }
}

@media (max-width: 480px) {
    .image_container_header_pic {
        height: 300px;
    }
    .headerPic {
        bottom: 230px; 
    }
}

@media (max-width: 330px) { 
    .image_container_header_pic {
        height: 200px;
    }
    .headerPic {
        bottom: 230px; 
    }
}
