.image_container_header_pic {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px; 
}

.headerPic {
    position: relative;
    width: 100%;
    bottom: 150px; 
    left: 0;
    z-index: -1;
    pointer-events: none;
}

/*Phone:*/
@media (max-width: 480px) {
    .headerPic {
        bottom: 50px;
    }

    .image_container_header_pic {
        height: 200px;
    }
}

/*iPad:*/
@media (min-width: 481px) and (max-width: 768px) {
    .headerPic {
        bottom: 70px;
    }

    .image_container_header_pic {
        height: 270px;
    }
}

/*MacBook:*/
@media (min-width: 769px) and (max-width: 1024px) {
    .headerPic {
        bottom: 70px;
    }

    .image_container_header_pic {
        height: 270px;
    }
}

/*iMac:*/
@media (min-width: 1025px) and (max-width: 1500px) {
    
}