.home_text_container {
  text-align: center;
}

.home_text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 3px;
}

.home_main_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
  letter-spacing: 2px;
}
