.justify_main_impressum_container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.main_impressum_container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 800px;
    background-color: aqua;
    text-align: lef
}

.impressum_header {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 3px;
}

.impressum::after {
    content: '';
    position: absolute;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: black;
}

.impressum_descriptions {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: left;
    width: 82%;
    margin-top: 5px;
    letter-spacing: 2px;
}

.impressum_email:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}