.pic_c1 {
    width: 100%;
    display: block;
}

.info-box {
    font-family: 'Roboto', sans-serif;
    position: relative; 
    width: 70%; 
    height: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.header_mein_hundetraining {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin: 40px;
    position: relative;
    padding: 20px;
}

.header_mein_hundetraining::before, .header_mein_hundetraining::after {
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    height: 1px;
    background-color: black;
}

.header_mein_hundetraining::before {
    top: 0;
}

.header_mein_hundetraining::after {
    bottom: 0;
}


.info-box p {
    margin: 0;
    font-size: 1.8rem;
}

.phylosophie_text {
    margin: auto;
    text-align: left;
    width: 70%;
}
