.container1 {
    margin-top: 0;
    position: relative;
}

.para_c1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin: 40px;
    position: relative;
    padding: 20px;
}

.para_c1::before, .para_c1::after {
    content: '';
    position: absolute;
    left: 10%;
    right: 10%;
    height: 2px;
    background-color: black;
}

.para_c1::before {
    top: 0;
}

.para_c1::after {
    bottom: 0;
}

.pic_c1 {
    width:100%
}

.para_c1_line {
    margin: 40px;
    position: relative;
    padding: 20px;
}

.para_c1_line::after {
    content: '';
    position: absolute;
    left: 10%;
    right: 10%;
    height: 2px;
    background-color: black;
}

/*Phone:*/
@media (max-width: 480px) {
    .para_c1_line {
        visibility: hidden;
    }

    .para_c1 {
        font-size: 1.6rem;
    }

    .home_text_container {
        width: 90%;
    }

    .home_text_container p {
        font-size: 1.1rem;
    }
}

/*iPad:*/
@media (min-width: 481px) and (max-width: 768px) {
    .para_c1_line {
        visibility: hidden;
    }

    .para_c1 {
        font-size: 1.6rem;
    }

    .home_text_container {
        width: 90%;
    }

    .home_text_container p {
        font-size: 1.4rem;
    }
}

/*MacBook:*/
@media (min-width: 769px) and (max-width: 1024px) {
    .para_c1_line {
        visibility: hidden;
    }

    .para_c1 {
        font-size: 1.6rem;
    }
    
    .home_text_container {
        width: 90%;
    }

    .home_text_container p {
        font-size: 1.1rem;
    }
}

/*iMac:*/
@media (min-width: 1025px) and (max-width: 1500px) {
    
}