.block {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.block-title {
    margin: 0;
    padding: 10px 0;
    font-size: 3rem;
    font-weight: normal;
}

.block-text {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 20px;
    font-weight: 100;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.block-list {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 100;
    flex-basis: 15%;
    list-style-type: disc;
    margin: 0;
    padding-left: 10px;
}

.block-image {
    flex-basis: 15%;
    width: 90px;
    height: 300px;
}