.section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.section p {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.para_c1_line_small_window {
    visibility: hidden;
}
  
.block {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.block-title {
    margin: 0;
    padding: 10px 0;
    font-size: 3rem;
    font-weight: normal;
}

.block-text {
    text-align: center;
    font-size: 2rem;
    margin: 10px auto; 
    padding: 10px 20px;
    font-weight: 100;
    width: 50%; 
}

.block-only-text {
    font-size: 2rem;
    padding: 0;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: auto;
}

.block-list {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 100;
    flex-basis: 27%;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 10px;
}

.block-list li {
    margin: 10px;
}

.block-list li {
    position: relative; 
    padding-left: 20px;
}

.block-list li::before {
    content: '- '; 
    position: absolute;
    left: 0; 
}

.block-image {
    margin-top: auto;
    flex-basis: 20%;
    height: 350px;
    border-radius: 10px;
}

.block-list-button {
    margin: auto;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.2rem;
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s;
}

.block-list-button {
    font-weight: 150;
    display: block;
    margin: 20px auto;
    height: 60px;
    width: 400px;
    border: 0;
    border-radius: 5px;
    border: 1px solid black; 
    transition: background-color 0.3s, color 0.3s;
}

.block-list-button:hover {
    background-color: rgba(0,0,0,0);
    color: black;   
}

.block {
    width: 65%;
    border: 2px solid #000;
}  

.block-list-text {
    margin: 5px;
}

.image-button-container {
    width: auto;
    padding: 0;
}

@media (max-width: 480px) {
    .block-text {
        width: 120%;
    }

    .para_c1_line_small_window {
        visibility: visible;
    }

    .para_c1_line_small_window {
        margin: 40px;
        position: relative;
        padding: 20px;
    }
    
    .para_c1_line_small_window::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        width: 450px;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: auto;
    }

    .block-list-text {
        text-align: center;
        width: 70%
    }
    
    .block, .block-image, .block-list-button {
        width: 100%;
        text-align: center; 
        margin-bottom: 20px;
    }
    
    .block-text, .block-list {
        width: auto; 
    }

    .block-only-text {
        font-size: 1rem;
        width: 10%;
    }

    .block-list li {
        padding-left: 0; 
    }
    
    .block-list li::before {
        content: ''; 
    }
    
    .block-image {
        height: auto;
        max-width: 600px; 
        margin: 0 auto; 
        left: 10%;    
    }
    
    .block-list-button {
        width: 80%; 
        max-width: 400px;
    }

    .block-list {
        width: 120%; 
        text-align: left;
        margin-bottom: 20px; 
        margin: 0 auto;
    }

    .block-list li {
        margin: 10px;
    }
    
    .block-list li {
        position: relative; 
        padding-left: 20px;
    }
    
    .block-list li::before {
        content: '- '; 
        position: absolute;
        left: 0; 
    }

    .block-title {
        font-size: 1.2rem;
    }

    .block-text, .block-list {
        font-size: 1.5rem;
    }

    .block-only-text {
        font-size: 1.2rem;
        width: 80%;
    }

    .block-image {
        height: auto;
    }

    .block {
        width: 75%;
        border: 0;
    }

    .block-list-button {
        font-size: 1.4rem;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .block-text {
        width: 120%;
    }

    .para_c1_line_small_window {
        visibility: visible;
    }

    .para_c1_line_small_window {
        margin: 40px;
        position: relative;
        padding: 20px;
    }
    
    .para_c1_line_small_window::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        width: 450px;
    }

    .content-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        gap: 20px; 
    }
    
    .block, .block-image, .block-list-button {
        width: 100%;
        text-align: center; 
        margin-bottom: 20px;
    }
    
    .block-text, .block-list {
        width: auto; 
    }

    .block-only-text {
        font-size: 1.2rem;
        width: 80%;
    }
    
    .block-list li li {
        padding-left: 0; 
    }
    
    .block-list li::before li::before {
        content: ''; 
    }
    
    .block-image {
        height: auto;
        max-width: 600px; 
        margin: 0 auto; 
        left: 10%;    
    }
    
    .block-list-button {
        width: 80%; 
        max-width: 400px;
    }

    .block-list {
        width: 120%; 
        text-align: left;
        margin-bottom: 20px;
        margin: 0 auto; 
    }

    .block-list li {
        margin: 10px;
    }
    
    .block-list li {
        position: relative; 
        padding-left: 20px;
    }
    
    .block-list li::before {
        content: '- '; 
        position: absolute;
        left: 0; 
    }

    .block-title {
        font-size: 1.2rem;
    }

    .block-text, .block-list {
        font-size: 1.5rem;
    }

    .block-image {
        height: auto;
    }

    .block {
        width: 75%;
        border: 0;
    }

    .block-list-button {
        font-size: 1.4rem;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .para_c1_line_small_window {
        visibility: visible;
    }

    .para_c1_line_small_window {
        margin: 40px;
        position: relative;
        padding: 20px;
    }
    
    .para_c1_line_small_window::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        width: 900px;
    }

    .content-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        gap: 20px; 
    }
    
    .block, .block-image, .block-list-button {
        width: 100%;
        text-align: center; 
        margin-bottom: 20px;
    }
    
    .block-text, .block-list {
        width: auto; 
    }

    .block-only-text {
        font-size: 1.2rem;
        width: 80%;
    }
    
    .block-list li li {
        padding-left: 0; 
    }
    
    .block-list li::before li::before {
        content: ''; 
    }
    
    .block-image {
        height: auto;
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .block-list-button {
        width: 80%; 
        max-width: 400px;
    }

    .block-list {
        width: 100%; 
        text-align: left;
        margin-bottom: 20px; 
        margin: 0 auto;
    }

    .block-list li {
        margin: 10px;
    }
    
    .block-list li {
        position: relative; 
        padding-left: 20px;
    }
    
    .block-list li::before {
        content: '- '; 
        position: absolute;
        left: 0; 
    }

    .block-title {
        font-size: 3rem;
    }

    .block-text, .block-list {
        font-size: 1.5rem;
    }

    .block-image {
        height: 300px;
    }

    .block {
        width: 65%;
        border: 0;
    }

    .block-list-button {
        font-size: 2rem;
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .para_c1_line_small_window {
        visibility: visible;
    }

    .para_c1_line_small_window {
        margin: 40px;
        position: relative;
        padding: 20px;
    }
    
    .para_c1_line_small_window::after {
        content: '';
        position: absolute;
        left: 10%;
        right: 10%;
        height: 2px;
        background-color: black;
    }

    .content-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        gap: 20px; 
    }
    
    .block, .block-image, .block-list-button {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px; 
    }
    
    .block-text, .block-list {
        width: auto; 
    }
    
    .block-list li li {
        padding-left: 0; 
    }
    
    .block-list li::before li::before {
        content: '';
    }
    
    .block-list {
        width: 100%; 
        text-align: left;
        margin-bottom: 20px; 
    }

    .block-list li {
        margin: 10px;
    }
    
    .block-list li {
        position: relative; 
        padding-left: 20px;
    }
    
    .block-list li::before {
        content: '- '; 
        position: absolute;
        left: 0; 
    }

    .block-image {
        height: auto;
        max-width: 600px;
        margin: 0 auto; 
    }
    
    .block-list-button {
        width: 80%; 
        max-width: 400px;
        margin: 20px auto;
    }

    .block {
        width: 65%;
        border: 0;
    }

    .block-image {
        height: 350px;
    }

    .block-list-button {
        font-size: 2.2rem;
        width: 100%;
    }
}