.section_pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_pricing_image {
    height: 800px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.header_mein_coaching_header {
    font-weight: normal;
}

.training_type_list, .training_type_list_no_header {
    list-style-type: none;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.training_type_list li {
    position: relative;
    text-align: center;
}

.training_type_list p {
    position: relative;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
}

.gruppentraining {
    margin: 0;
}

.block_pricing {
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.block_title_pricing {
    text-align: center;
    font-weight: 100px;
}

.leistungen_typ_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leistungen_type_button {
    display: block;
    height: 60px;
    width: auto;
    padding: 0 50px;
    margin-top: 30px;
    border: 1px solid black;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.leistungen_type_button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.anfahrt_mwst {
    text-align: center;
    font-size: 1.4rem;
}

@media (max-width: 499px) {
    .block_pricing_image {
        display: none;
    }

    .block_title_pricing {
        font-size: 0.8rem;
    }

    .training_type_list {
        margin-top: -40px;
    }

    .training_type_list p {
        font-size: 1rem;
        text-align: center;
    }

    .training_type_list li {
        font-size: 0.9rem;
        text-align: center;
    }

    .training_type_list li::before {
        content: '';
    }

    .training_type_list {
        font-size: 1rem;
        text-align: center;
    }

    .anfahrt_mwst {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .anfahrt_mwst p {
        font-size: 0.8rem;
        width: 80%;
    }

    .leistungen_type_button {
        height: 40px;
    }

    .leistungen_type_button {
        height: 30px;
        font-size: 1rem;
        font-weight: normal;
        margin-top: 12px;
    }
}
